@model DreaminandSchemin.Data.RoundRobinLoadModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
<form method="post" action="Home/Index">
    <div>
        <h2>Tournaments</h2>
        <div>
            <table>
                @foreach (var tournament in Model.Tournaments)
                {
                    <tr>
                        <td>
                            <div>
                                <input type="radio" name="tournament"
                                       value="@tournament.TournamentName" id="@tournament.Id"
                                       @if (tournament.Id == Model.SelectedId) @Html.Raw(" checked ") />
                                @tournament.TournamentName
                            </div>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
    <div>
        <input type="Submit" value="Load" />
    </div>
</form>

<table>
    <tr>
        <th>Divisions</th>
    </tr>
</table>

