@model DreaminandSchemin.Data.TournamentListModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div>
        <h2>Tournaments</h2>
        <div>
            <table>
                @foreach (var tournament in Model.Tournaments)
                {
                    <tr>
                        <td>
                            <div>
                                <a class="btn btn-primary" href="@Url.Action("DivisionList", "Home", new { tournamentId = tournament.Id })">View @tournament.TournamentName</a>
                            </div>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>

